<!DOCTYPE html>
<html ng-app="vesseltrack.app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="ROBOTS" content="NONE">
    <meta name="GOOGLEBOT" content="NOARCHIVE">

    <title>Vessel-Track</title>
    <link rel="icon" href="img/vesseltrack_152.png" sizes="152x152" type="image/png" />
    <link rel="apple-touch-icon" href="img/vesseltrack_152.png" sizes="152x152" type="image/png" />

    <!-- CSS-->
    <link href="ext/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="ext/bootstrap-3.3.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="ext/openlayers-2.13.1/theme/default/style.css" rel="stylesheet">
    <link href="ext/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="ext/documentcloud-visualsearch/css/visualsearch.css" rel="stylesheet">
    <link href="ext/documentcloud-visualsearch/css/visualsearch-datauri.css" rel="stylesheet">

    <link href="css/app.css" rel="stylesheet">

</head>
<body ng-controller="VesselTrackCtrl">

    <div id="map" style="width: 100%; height: 100%"></div>

    <div class="info-panel">
        <div style="text-align: center"><img class="logo" src="/img/logo.png"></div>
        <div class="info-panel-selector">
            <div>
                <span class="info-panel-selector-btn" ng-click="toggleInfoPanel('map')" ng-class="{true:'active'}[activeInfoPanel == 'map']">
                    <span class="glyphicon glyphicon-globe"></span>
                    <span class="info-panel-selector-txt">Map</span>
                </span>
                <span class="info-panel-selector-btn" ng-click="toggleInfoPanel('details')" ng-class="{true:'active'}[activeInfoPanel == 'details']">
                    <span class="fa fa-ship"></span>
                    <span class="info-panel-selector-txt">Details</span>
                </span>
                <span class="info-panel-selector-btn" ng-click="toggleInfoPanel('search')" ng-class="{true:'active'}[activeInfoPanel == 'search']">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="info-panel-selector-txt">Search</span>
                </span>
                <span class="info-panel-selector-btn" ng-click="toggleInfoPanel('legends')" ng-class="{true:'active'}[activeInfoPanel == 'legends']">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span class="info-panel-selector-txt">Legends</span>
                </span>
            </div>
        </div>


        <!-- Overview Map Info Panel -->
        <div class="overview-map" ng-show="activeInfoPanel == 'map'">
            <div id="overviewMap" style="width: 182px; height: 92px; border: 1px solid gray;margin: auto;"></div>
        </div>


        <!-- Search Info Panel -->
        <div class="search-panel" ng-show="activeInfoPanel == 'search'">
            <div id="searchFilter" class="search-filter"></div>
            <div class="search-result-desc">
                <span ng-if="search.vessels.length == 0">No matches</span>
                <span ng-if="search.vessels.length == 100">Showing first {{search.vessels.length}} matches:</span>
                <span ng-if="search.vessels.length > 0 && search.vessels.length < 100">Showing {{search.vessels.length}} matches:</span>
                <span style="float: right">
                    <button id="filter-btn" type="button" class="btn btn-xs btn-default search-filter-btn" btn-checkbox ng-model="search.filterVessels">
                        <span class="glyphicon glyphicon-filter"></span>&nbsp;Apply Filter
                    </button>
                </span>
            </div>
            <div class="search-result">
                <div class="search-result-vessel" ng-repeat="v in search.vessels">
                    <div>
                        <strong ng-if="v.name">{{v.name}}</strong>
                        <strong ng-if="!v.name">N/A</strong>
                    </div>
                    <div>
                        <span>MMSI: {{v.mmsi}}</span>
                        <span ng-if="v.callsign">Callsign: {{v.callsign}}</span>
                    </div>
                    <div class="search-result-vessel-btn">
                        <a href ng-click="setCenter(v.lon, v.lat)">
                            <span class="glyphicon glyphicon-screenshot"></span>&nbsp;Zoom
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Legends Overview Panel -->
        <div class="legends" ng-if="activeInfoPanel == 'legends'">
            <div><img src="img/vessel/vessel_blue.png"/> Passenger</div>
            <div><img src="img/vessel/vessel_green.png"/> Cargo</div>
            <div><img src="img/vessel/vessel_red.png"/> Tanker</div>
            <div><img src="img/vessel/vessel_yellow.png"/> High speed craft and WIG</div>
            <div><img src="img/vessel/vessel_orange.png"/> Fishing</div>
            <div><img src="img/vessel/vessel_purple.png"/> Sailing and pleasure</div>
            <div><img src="img/vessel/vessel_turquoise.png"/> Pilot, tug and others</div>
            <div><img src="img/vessel/vessel_gray.png"/> Undefined / unknown</div>
            <div><img src="img/vessel/vessel_white.png"/> Sailing</div>
            <div><img src="img/vessel/vessel_white_moored.png"/> Anchored/Moored</div>
        </div>


        <!-- Details Info Panel -->
        <div id="vessel-details" ng-if="activeInfoPanel == 'details'">
            <div ng-if="!selVessel" style="font-size: 11px; margin: 5px; text-align: center;">No vessel selected</div>
            <table ng-if="selVessel" class="details-table">
                <tr>
                    <td class="details-title">MMSI</td>
                    <td class="details-value">{{selVessel.mmsi}}</td>
                </tr>
                <tr ng-if="selVessel.name">
                    <td class="details-title">Name</td>
                    <td class="details-value">{{selVessel.name}}</td>
                </tr>
                <tr ng-if="selVessel.callsign">
                    <td class="details-title">Call Sign</td>
                    <td class="details-value">{{selVessel.callsign}}</td>
                </tr>
                <tr ng-if="selVessel.sog">
                    <td class="details-title">SOG</td>
                    <td class="details-value">{{selVessel.sog}} kn</td>
                </tr>
                <tr ng-if="selVessel.cog">
                    <td class="details-title">COG</td>
                    <td class="details-value">{{selVessel.cog}}&deg;</td>
                </tr>
                <tr ng-if="selVessel.heading">
                    <td class="details-title">Heading</td>
                    <td class="details-value">{{selVessel.heading}}&deg;</td>
                </tr>
                <tr ng-if="selVessel.lat && selVessel.lon">
                    <td class="details-title">Position</td>
                    <td class="details-value">{{selVessel | lonlat}}</td>
                </tr>
                <tr ng-if="selVessel.destination">
                    <td class="details-title">Destination</td>
                    <td class="details-value">{{selVessel.destination}}</td>
                </tr>
                <tr ng-if="selVessel.navStatus">
                    <td class="details-title">Nav Status</td>
                    <td class="details-value">{{navStatus(selVessel.navStatus)}}</td>
                </tr>
                <tr ng-if="selVessel.vesselType">
                    <td class="details-title">Type</td>
                    <td class="details-value">{{vesselType(selVessel.vesselType)}}</td>
                </tr>
                <tr ng-if="selVessel.draught">
                    <td class="details-title">Draught</td>
                    <td class="details-value">{{selVessel.draught}} m</td>
                </tr>
                <tr ng-if="selVessel.width">
                    <td class="details-title">Width</td>
                    <td class="details-value">{{selVessel.width}} m</td>
                </tr>
                <tr ng-if="selVessel.length">
                    <td class="details-title">Length</td>
                    <td class="details-value">{{selVessel.length}} m</td>
                </tr>
                <tr ng-if="selVessel.lastReport">
                    <td class="details-title">Last Report</td>
                    <td class="details-value">{{formatDate(selVessel.lastReport)}}</td>
                </tr>
            </table>
            <div ng-if="selVessel" class="vessel-actions">
                <div class="row">
                    <div class="col-xs-6 col-lg-6 vessel-btn-col">
                        <button type="button" class="btn btn-xs btn-default vessel-btn" ng-click="setCenter(selVessel.lon, selVessel.lat)">
                            <span class="glyphicon glyphicon-screenshot"></span>&nbsp;Zoom To
                        </button>
                    </div>
                    <div class="col-xs-6 col-lg-6 vessel-btn-col">
                        <button id="follow-btn" type="button" class="btn btn-xs btn-default vessel-btn" btn-checkbox ng-model="selVessel.follow">
                            <span class="glyphicon glyphicon-lock"></span>&nbsp;Follow
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-6 vessel-btn-col" style="margin-top: 5px;">
                        <div class="btn-group vessel-btn" dropdown>
                            <button id="track-btn" type="button" class="btn btn-xs btn-default" style="font-size: 10px; width: 60px" btn-checkbox ng-model="selVessel.showTrack">
                                <span class="glyphicon glyphicon-time"></span>&nbsp;Tracks
                            </button>
                            <button id="track-btn-dropdown" type="button" class="btn btn-xs btn-default dropdown-toggle" style="font-size: 10px; width: 30px" dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="font-size: 10px; min-width: 100px;">
                                <li><a href ng-click="showTrack('PT1H')">last hour</a></li>
                                <li><a href ng-click="showTrack('P1D')">last day</a></li>
                                <li><a href ng-click="showTrack('P7D')">last week</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-6 vessel-btn-col" style="margin-top: 5px;">
                        <button type="button" class="btn btn-xs btn-default vessel-btn" ng-click="marineTraffic(selVessel.mmsi)">
                            <span class="fa fa-external-link"></span>&nbsp;MarineTraffic
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="ext/jquery-1.11.2/jquery-1.11.2.min.js"></script>
    <script src="ext/angularjs-1.3.8/angular.min.js"></script>
    <script src="ext/bootstrap-3.3.1/js/bootstrap.min.js"></script>
    <script src="ext/angular-ui-0.12.0/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="ext/moment-2.9.0/moment-with-locales.min.js"></script>
    <script src="ext/openlayers-2.13.1/OpenLayers.js"></script>
    <script src="ext/documentcloud-visualsearch/js/dependencies.js"></script>
    <script src="ext/documentcloud-visualsearch/js/visualsearch.js"></script>

    <script src="js/util.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app-ctrl.js"></script>
    <script src="js/app-service.js"></script>
    <script src="js/app-filter.js"></script>

</body>
</html>